.CreatingEventForm {
  width: 50px;
  height: 50px;
  .CreatingEventForm__btn {
    height: 100%;
    width: 100%;
    background: rgb(71, 164, 203);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    transition: 300ms;
    &:hover {
      background: rgb(94, 3, 121);
    }
    &:active {
      transition: 50ms;
      background: rgb(71, 122, 203);
    }
  }
  .CreatingEventForm__popup-wrapp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    form {
      height: 350px;
      width: 420px;
      background: white;
      padding: 10px 12px;
      @media (max-width: 430px) {
        width: 90vw;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          font-size: 22px;
          font-weight: 500;
        }
        .popup-form__close-btn {
          background: none;
          font-size: 30px;
        }
      }
      main {
        > div {
          margin: 15px 0;
          > h6 {
            color: rgb(128, 128, 128);
            font-weight: 500;
          }
          > input,
          > textarea {
            resize: none;
            width: 100%;
            margin-top: 4px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            &::placeholder {
              color: rgba(128, 128, 128, 0.495);
            }
          }
          > textarea {
            height: 90px;
          }
        }
        .popup-form__date-time {
          height: 50px;
          > input {
            width: 200px;
          }
        }
      }
      footer {
        display: flex;
        justify-content: flex-end;
        button {
          background: rgb(71, 164, 203);
          color: rgb(255, 255, 255);
          padding: 3px;
          border-radius: 10%;
          font-size: 15px;
          font-weight: 500;
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
          transition: 300ms;
          &:hover {
            background: rgb(94, 3, 121);
          }
          &:active {
            transition: 50ms;
            background: rgb(71, 122, 203);
          }
          &:disabled {
            background: gray;
          }
        }
      }
    }
  }
  .active {
    display: flex;
  }
}
